@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: Neuron;
    src: url(fonts/Neuron\ Angled\ SC\ W01\ Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

:root {
    ---color01: #b164ff;
    ---color02: #8612FC;
    ---color03: #D9FF57;
    ---color04: #FFD957;
    ---color05: rgb(194, 194, 194);
}

body{
    font-family: 'Exo', sans-serif;
}

header {
    position: relative;
}

.context {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    justify-content: center;
}

#oliv-logo {
    display: block;
    width: 120px;
    opacity: 95%;
}

#subtitle-launcher {
    position: absolute;
    top: 11.5%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: white;
}

#ag1 {
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

main {
    position: relative;
    top: 20px;
}

.waves {
    position: absolute; 
    top: 400px;
    left: 0px;
    right: 0px;
}

.wave1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translate(-2000px);
    }
}

.wave2 {
    animation: moveWave1 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translate(-1800px);
    }
}

.wave3 {
    animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
        transform: translate(-1600px);
    }
}

/* DIGITAÇÃO DE TEXTO 

=====================

*/

.anima{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    font-size: 5em;
    color: #fff;
    border-right: 2px solid rgb(0, 0, 0);
    padding-right: 3px;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever normal 7s steps(60) both;
}

@keyframes pisca {
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever {
    100%{
        max-width: 100%;
    }
}

 /* DIGITAÇÃO DE TEXTO ---- FIM 

 ==============================

*/ 

.about1 { 
    height: 200px;
    background-image: linear-gradient(to top, #fff, #fff, #fff, #e7e7e7);
}

.ah1 {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translate(-50%);
    font-size: 3em;
    font-weight: 100;
    color: rgb(46, 46, 46);
}

.ah2 {
    position: absolute;
    top: 0%; 
    left: 50%;
    transform: translate(-50%);
    font-size: 6.8em;
    color: var(---color02);
    font-weight: bolder;
    font-family: Neuron;
}

.ah2::before {
    content: '.';
    position: absolute;
    left: -20px;
    color: var(---color04);
}

#colorbg {
    position: relative; 
    top: -40px;
    background-image: linear-gradient(to bottom, #FFD957, #ff923a);
    max-width: 1500px;
    border-radius: 20px;
    padding: 20px;
}

.icon1 {
    width: 64px;
}

.picon1 {
    position: relative;
    color:white;
    font-size: 1.3em;
    text-indent: 20px;
    top: 6px;
}

.picon2 {
    position: relative;
    top: 15px;
    color: white;
    left: 70px;
    text-align: justify;
    width: 350px;
}

.area{
    background-image: linear-gradient(to bottom right, #b164ff, #b164ff, #8612FC, #8612FC);
    background: -webkit-linear-gradient(to left, #090b41, #4e54c8);  
    width: 100%;
    height: 130vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media screen and (max-width: 700px) and (max-height: 800px) {
    #oliv-logo {
        display: block;
        width: 150px;
        opacity: 95%;
    }
    
    #subtitle-launcher {
        font-size: 0.8em;
        
    }
}